node_modules/
.next/
.yarn/
coverage/
out/
yarn.lock
.pnp.cjs
.pnp.loader.mjs

# unsupported syntax
helmfile/
helm/
#helmfile/helmfile.yaml
#helm/charts/next-template/templates/service.yaml
#helm/charts/next-template/templates/ingress.yaml
#helm/charts/next-template/templates/deployment.yaml
