@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* consistent focus styles on all components */
  * {
    @apply focus:outline-none;
    @apply focus-visible:ring-1;
    @apply focus-visible:ring-black;
  }

  .skip-main {
    @apply absolute w-px h-px -left-96;
  }

  .skip-main:focus-within {
    @apply absolute w-screen h-auto top-4 left-0 z-50 flex justify-center;
  }

  table,
  p,
  label,
  ul,
  li {
    @apply text-content;
  }

  .mainContent {
    @apply text-base;
  }

  .footerLine::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 36px;
    height: 4px;
    background-color: #ffffff;
  }

  .custom-bullet li {
    list-style-type: none;
  }

  /**
    adding a custom bullet style because the default bullet is too big
  */
  .custom-bullet::before {
    content: '•';
    font-size: 17px;
    padding-right: 12px;
  }

  #cta-feedback h3 {
    margin-bottom: 1rem;
  }

  #mainForm button,
  #cta-feedback button {
    background-color: theme('colors.button-background');
  }

  #cta-feedback button:hover {
    background-color: theme('colors.primary-hover');
  }

  .btn {
    @apply py-1.5 px-3 min-h-9 min-w-9 font-normal text-base text-center whitespace-nowrap align-middle cursor-pointer border-[1px] border-solid rounded;
    border-style: outset;
  }

  .btn-default {
    @apply text-default-text bg-default hover:bg-default-hover border-default-border;
  }

  .btn-primary {
    @apply text-white bg-primary hover:bg-primary-hover border-primary-border;
  }

  .btn-success {
    @apply text-white bg-success hover:bg-success-hover border-success-border;
  }

  .btn-info {
    @apply text-white bg-info hover:bg-info-hover border-info;
  }

  .btn-warning {
    @apply text-content bg-warning hover:bg-warning-hover border-warning-border;
  }

  .btn-danger {
    @apply text-white bg-danger hover:bg-danger-hover border-danger-border;
  }

  .msg-container {
    @apply border-[3px] rounded sm:py-[28px] py-[16px] bg-white;
  }

  .btn-link {
    @apply text-default-text bg-transparent border-0 hover:underline;
  }

  /* typography gc overrides */
  .h1 {
    @apply text-mobile sm:text-h1 font-bold mb-[15px] font-header-gc border-b border-header-rule text-content pb-2;
  }

  .h2 {
    @apply text-h2 font-bold mb-[15px] font-header-gc text-content;
  }

  .h3 {
    @apply text-h3 font-bold mb-[15px] font-header-gc text-content;
  }

  .h4 {
    @apply text-h4 font-bold mb-[15px] font-header-gc text-content;
  }

  .h5 {
    @apply font-bold mb-[15px] font-header-gc text-content;
  }

  .h6 {
    @apply text-h6 font-bold mb-[15px] font-header-gc text-content;
  }

  .text-xs {
    @apply font-bold mb-[15px] font-header-gc text-content;
  }

  /* form controls */
  .form-control {
    @apply text-base w-full md:w-80 h-auto min-h-9 block py-1.5 px-3 align-middle text-muted bg-white rounded border-[1px] border-solid border-form-border focus:border-form-highlighted focus:shadow-active-form placeholder-muted/70;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    outline: none;
  }

  .form-control[disabled] {
    @apply text-muted/60;
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
  }

  /* css reset for number input types*/
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input[type='radio'] {
    appearance: none;
    background-color: #fff;
    margin: 0 1rem 0 0;
    font: inherit;
    color: #999;
    width: 2rem;
    height: 2rem;
    border: 1px solid #000;
    border-radius: 50%;
    flex-shrink: 0;
  }

  input[type='radio']:checked {
    background-image: none;
    background-color: #6f6f6f !important;
    box-shadow: 0px 0px 0px 3px white inset;
    border: 1px solid #000;
  }

  input[type='radio']:focus {
    box-shadow: 0px 0px 0px 2px #2563eb, 0px 0px 0px 3px white inset;
  }

  .rselect input {
    box-shadow: none !important;
  }

  /* Misc */
  /* Do we need this still for the FAQ component or is it gone forever? */
  /* details {
    @apply cursor-pointer mb-4;
  }

  details > details {
    @apply pl-12;
  }

  details summary {
    @apply text-content border border-content rounded py-1 px-4;
  }

  details[open] > summary {
    @apply rounded-bl-none rounded-br-none;
  }

  details[open] div {
    @apply border border-t-0 rounded-br rounded-bl border-content text-content;
  } */

  /* details[open] div {
    @apply border border-0 border-content text-content;
    padding: 8px 0 8px 25px;
    margin-left: 5px;
    border-left: 2px solid theme('colors.primary-border');
  } */

  td {
    @apply p-2;
  }

  .question-link a {
    @apply text-default-text underline font-bold;
  }

  .summary-link a,
  .addOpenNew {
    @apply text-default-text underline;
    display: inline;
    background: url('/openNewTab.svg') no-repeat right;
    padding-right: 20px;
  }

  .is-sticky {
    position: fixed;
    z-index: 999;
    top: 0;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  }

  ul#information-list > li {
    margin-left: 1rem;
  }

  .triangle {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 0;
    border-left: 12px solid #284162;
  }

  summary:hover {
    --tw-border-opacity: 1;
    color: rgb(5 53 210 / var(--tw-border-opacity));
  }

  ol li {
    list-style: decimal;
    list-style-position: inside;
  }

  #oasDefer a,
  #oasLink0,
  #oasLink1,
  #oasLink2,
  #gisLink0,
  #gisLink1,
  #alwLink0,
  #alwLink1,
  #alwsLink0,
  #alwsLink1,
  a.generatedLink {
    display: inline;
    background: url('/openNewTab.svg') no-repeat right;
    padding-right: 20px;
    text-decoration-line: underline;
    --tw-text-opacity: 1;
    color: rgb(40 65 98 / var(--tw-text-opacity));
  }

  #oasDefer a:hover,
  #oasLink0:hover,
  #oasLink1:hover,
  #gisLink0:hover,
  #gisLink1:hover,
  #alwLink0:hover,
  #alwLink1:hover,
  #alwsLink0:hover,
  #alwsLink1:hover,
  a.generatedLink:hover,
  .summary-link a:hover {
    --tw-border-opacity: 1;
    color: rgb(5 53 210 / var(--tw-border-opacity));
  }

  @-moz-document url-prefix() {
    #enter-age select,
    #enter-partnerAge select,
    #oasDeferDuration-years,
    #oasDeferDuration-months {
      background-color: #fff;
    }
  }

  #age-birth-year,
  #partnerAge-birth-year {
    width: 80px;
  }

  [id^='help-text'] > ul {
    margin-left: 15px;
    list-style-type: disc;
    list-style-position: inside;
  }

  [id^='help-text'] > ul > li {
    color: #5c5c5c;
  }

  [id^='help-text'] > ul > li::marker {
    font-size: 12px;
  }
}
