/* tailwind default */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* consistent focus styles on all components -- overriding */
  * {
    /* @apply focus:outline-none;
    @apply focus-visible:ring-1;
    @apply focus-visible:ring-black; */
  }

  .btn {
    @apply py-[6px] px-3 min-h-[9px] min-w-[9px] font-normal text-base text-center whitespace-nowrap align-middle cursor-pointer border-[1px] border-solid rounded;
    border-style: outset;
  }

  .btn-default {
    @apply text-default-text bg-default hover:bg-default-hover border-default-border;
  }

  .btn-primary {
    @apply text-white bg-primary hover:bg-primary-hover border-primary-border;
  }

  .btn-success {
    @apply text-white bg-success hover:bg-success-hover border-success-border;
  }
  .btn-info {
    @apply text-white bg-info hover:bg-info-hover border-info;
  }
  .btn-warning {
    @apply text-black bg-warning hover:bg-warning-hover border-warning-border;
  }
  .btn-danger {
    @apply text-white bg-danger hover:bg-danger-hover border-danger-border;
  }
  .btn-link {
    @apply text-default-text bg-transparent border-0 hover:underline;
  }

  /* typography gc overrides */
  .h1 {
    @apply text-h1 font-bold mb-[15px] font-header-gc;
  }
  .h2 {
    @apply text-h2 font-bold mb-[15px] font-header-gc;
  }
  .h3 {
    @apply text-h3 font-bold mb-[15px] font-header-gc;
  }
  .h4 {
    @apply text-h4 font-bold mb-[15px] font-header-gc;
  }
  .h5 {
    @apply text-h5 font-bold mb-[15px] font-header-gc;
  }
  .h6 {
    @apply text-h6 font-bold mb-[15px] font-header-gc;
  }

  /* form controls */
  .form-control {
    @apply w-full h-auto min-h-9 block py-[6px] px-3 text-muted bg-white rounded border-[1px] border-solid border-form-border focus:border-form-highlighted focus:shadow-active-form;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    outline: none;
  }
}
